In [1]:
import pandas as pd
raw_data = pd.read_csv('heart.csv')

In [2]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [3]:
raw_data.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [4]:
raw_data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [5]:
# first model : 5-nn, 80/20 split, no data transformation
from sklearn.model_selection import train_test_split

target = raw_data['target']
raw_feature = raw_data.drop('target', axis=1)

X_train, X_test, y_train, y_test = train_test_split(raw_feature, target, test_size=0.2, random_state=1234)
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(242, 13)
(61, 13)
(242,)
(61,)

In [6]:
from sklearn.neighbors import KNeighborsClassifier
neigh = KNeighborsClassifier()
neigh.fit(X_train, y_train)

KNeighborsClassifier()

In [7]:
neigh.score(X_test, y_test)

0.639344262295082

In [8]:
# one-hot encoding on categorical data
categorical_column = ['thal', 'cp', 'sex']

normalized_feature = raw_feature

for col in categorical_column:
    one_hot_train = pd.get_dummies(normalized_feature[col], prefix=col)
    normalized_feature = normalized_feature.join(one_hot_train)
    normalized_feature = normalized_feature.drop(col, axis=1)

In [9]:
# normalize numerical column using min-max approach
from sklearn import preprocessing

min_max_scaler = preprocessing.MinMaxScaler()
normalized_feature = min_max_scaler.fit_transform(normalized_feature)

In [11]:
normalized_feature = pd.DataFrame(normalized_feature)
normalized_feature.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,0.708333,0.481132,0.244292,1.0,0.0,0.603053,0.0,0.370968,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
1,0.166667,0.339623,0.283105,0.0,0.5,0.885496,0.0,0.564516,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
2,0.250000,0.339623,0.178082,0.0,0.0,0.770992,0.0,0.225806,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
3,0.562500,0.245283,0.251142,0.0,0.5,0.816794,0.0,0.129032,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
4,0.583333,0.245283,0.520548,0.0,0.5,0.702290,1.0,0.096774,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [12]:
X_normalized_train, X_normalized_test, y_train, y_test = train_test_split(normalized_feature, target, test_size=0.2, random_state=1234)
print(X_normalized_train.shape)
print(X_normalized_test.shape)
print(y_train.shape)
print(y_test.shape)

(242, 20)
(61, 20)
(242,)
(61,)

In [13]:
# model 2 : normalized data, one-hot encoded, 5-nn
normalized_neigh = KNeighborsClassifier()
normalized_neigh.fit(X_normalized_train, y_train)

KNeighborsClassifier()

In [14]:
normalized_neigh.score(X_normalized_test, y_test)

0.7213114754098361

In [15]:
# model 3 : cv=5, normalized data, one-hot encoded, 5-nn

from sklearn.model_selection import cross_val_score

cv_neigh = KNeighborsClassifier()
cv_scores = cross_val_score(cv_neigh, normalized_feature, target, cv=5)

In [19]:
print(cv_scores)
print('mean: ' + str(sum(cv_scores)/len(cv_scores)))

[0.75409836 0.81967213 0.7704918  0.8        0.78333333]
mean: 0.78551912568306

In [23]:
# model 4 : gridsearchcv find best k, normalized data, one-hot encoded

import numpy as np
from sklearn.model_selection import GridSearchCV

param_grid = {'n_neighbors': np.arange(1, 20)}
grid_neigh = GridSearchCV(KNeighborsClassifier(), param_grid, cv=5)
grid_neigh.fit(X_normalized_train, y_train)

GridSearchCV(cv=5, estimator=KNeighborsClassifier(),
             param_grid={'n_neighbors': array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19])})

In [24]:
# best k

print(grid_neigh.best_params_)
print(grid_neigh.best_score_)

{'n_neighbors': 13}
0.8388605442176871

In [25]:
grid_neigh.score(X_normalized_test, y_test)

0.7377049180327869

In [27]:
# CONCLUSION

# a) 5-nn on raw data : 0.639344262295082
# b) 5-nn on normalized, one-hot encoded data : 0.7213114754098361
#     sex, thal, cp is one-hot encoded
# c) 5-nn, cv=5 validation on normalized, one-hot encoded data
#     average accuracy : 0.78551912568306
# d) best k : 13
# e) 13-nn on normalized, one-hot encoded data : 0.7377049180327869